<nav class="navbar">
    <div>
        <a href="/"> Home </a>
        <a href="/blogs"> All Blogs </a>
        <a href="/genres"> All Genres </a>
        <a href="/users"> All Users </a>
        <a href="/blogs/new"> Create New Blog </a>
    </div>
</nav>