<head>
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oleo+Script+Swash+Caps&family=Oswald:wght@200;500&family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <div>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/blogs"> All Blogs </a></li>
            <li></li><a href="/genres"> All Genres </a></li>
            <li></li><a href="/users"> All Users </a></li>
            <li></li><a href="/blogs/new"> Create New Blog </a></li>
        </ul>
    </div>
</nav>
</body>