<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oleo+Script+Swash+Caps&family=Oswald:wght@200;500&family=Poiret+One&display=swap" rel="stylesheet">

<%- include('partials/head', {page: 'edit'})  %>
<%- include('partials/nav')  %>

    <title>Document</title>
</head>
<body>
    <div class = "hero">
    <h1>Welcome to Spiel</h1>
    <p>Learn more about a variety of topics, from </br>travel and food to gaming and spirituality.</p>

    </div>
</body>
</html>