<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/create.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oleo+Script+Swash+Caps&family=Oswald:wght@200;500&family=Poiret+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Create a new blog</h1>

    <form action="/blogs" method="POST" class = "form">
        <label for="genre">Choose a genre:</label>
        <select name="genre">
            <% for(let i=0; i<genre.length; i++) { %>
                <option value="<%= genre[i].genre %>"><%= genre[i].genre %></option>
            <% } %>
        </select>
        <label for="title">Blog Title</label>
        <input type="text" name="title" required>
        <label for="content">Blog Content</label>
        <textarea name="content" placeholder="Enter your content" class ="content"></textarea>
        <button type="submit">Create Blog</button>
    </form>
</body>
</html>