<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Genres</h1>
    <% for (let i=0; i<users.length; i++) { %>
        <p><%= users[i].username %></p>
        <p><strong><%= foundBlog[i].title %></strong></p>
        <p><%= foundBlog[i].content.slice(0, 40) %>...</p>
        <a>See More</a>
        <hr>
    <% } %>
</body>
</html>